#imagecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #imagecontainer img {
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer;
    margin: 10px; }

.selected {
  opacity: 0.5;
  background-image: url(../img/favourite.png); }

body {
  font-family: 'Open Sans'; }

p {
  margin-top: 0;
  margin-left: 10px;
  color: #666; }

h1 {
  margin-bottom: 0;
  margin-left: 10px; }

.blue {
  color: #0063dc; }

.pink {
  color: #ff0084; }
