#imagecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #imagecontainer img {
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer; }

.selected {
  border: 2px dashed pink; }
