#imagecontainer
    display:flex
    flex-direction:row
    flex-wrap:wrap
    //align-items:center
    img
        flex-grow: 1
        flex-shrink: 1
        //cursor: pointer
        margin: 10px
        
.selected
    //border: 2px dashed pink
    opacity: 0.5
    background-image:url(../img/favourite.png)
    transition: all 0.2s ease-in-out 0.2s
body
    font-family:'Open Sans'
    @media all and (max-width: 500px)
        text-align: center
img
    max-width:100%
p
    margin-top: 0
    margin-left: 10px
    color: #666
    @media all and (max-width: 500px)
        display: none
h1
    margin-bottom: 0
    margin-left: 10px

.blue    
    color: #0063dc
    
.pink
    color: #ff0084

.underline
    text-decoration: underline

.pointer
    cursor: pointer
    