#imagecontainer
    display:flex
    flex-direction:row
    flex-wrap:wrap
    //align-items:center
    img
        flex-grow: 1
        flex-shrink: 1
        cursor: pointer
.selected
        //border: 2px dashed pink
        opacity: 0.5
        background-image:url(../img/favourite.png)