doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title flickr feed - Ezeikel Pemberton
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800', rel='stylesheet', type='text/css')
        link(href='css/main.css',rel='stylesheet')
    body
        h1
            span.blue
                | flick
            span.pink
              | r 
            | feed
        p
            span.underline.pointer.bold
                | Click
            |  on an image below to select it as a favourite.
        #imagecontainer
        script(src='js/main.js')
